<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
<!-- build:css /static/dist/css/resources.css -->
<link href="/static/resources/base/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/skin/lxwt.mobile.css" rel="stylesheet">
<link href="/static/resources/app/css/common.css" rel="stylesheet">

<link href="/static/skin/header.css" rel="stylesheet">
<link href="/static/skin/footer.css" rel="stylesheet">
<!-- endbuild -->	

<!--
<script type="text/javascript" src="/static/resources/app/js/all.min.js"></script>
-->

<!-- build:js /static/dist/scripts/resources.js -->
<script type="text/javascript" src="/static/resources/base/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/resources/base/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/resources/base/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/resources/base/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/resources/base/angular/angular-sanitize.min.js"></script>


<!-- 自定义过滤器 -->
<script type="text/javascript" src="/static/resources/ng-filter/filter.config.js"></script>

<!-- 自定义指令 -->
<script type="text/javascript" src="/static/resources/ng-directive/directive.config.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/scroll-loading.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/form-validate.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/repeat.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/ng-tips.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/w5cValidator.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/ng-file-upload-shim.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/ng-file-upload.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/pagination.js"></script>
<script type="text/javascript" src="/static/resources/ng-directive/msg-tel-valid.js"></script>


<!-- 配置文件 -->
<script type="text/javascript" src="/static/resources/app/js/config.js"></script>

<!-- 数据service -->
<script type="text/javascript" src="/static/resources/app/service/common.service.js"></script>
<script type="text/javascript" src="/static/resources/ng-service/tologin-email.js"></script>
<script type="text/javascript" src="/static/resources/app/controller/header.controller.js"></script>
<script type="text/javascript" src="/static/resources/app/controller/footer.controller.js"></script>

<!-- 小能客服系统 -->
<!-- endbuild -->
<!--
-->
<!-- 百度推送 -->
<!-- <script> -->
<!-- (function(){ -->
<!--     var bp = document.createElement('script'); -->
<!--     bp.src = '//push.zhanzhang.baidu.com/push.js'; -->
<!--     var s = document.getElementsByTagName("script")[0]; -->
<!--     s.parentNode.insertBefore(bp, s); -->
<!-- })(); -->
<!-- </script> -->
<!-- 百度推广 -->
<!-- <script> -->
<!-- 	var _hmt = _hmt || []; -->
<!-- 	(function() { -->
<!-- 		var hm = document.createElement("script"); -->
<!-- 		hm.src = "//hm.baidu.com/hm.js?1ba7285c7a76a1d200888fcd4719eaf7"; -->
<!-- 		var s = document.getElementsByTagName("script")[0]; -->
<!-- 		s.parentNode.insertBefore(hm, s); -->
<!-- 	})(); -->
<!-- </script> -->